
main{
    background: linear-gradient(to bottom, #1a1a1a, #2b1d2e, #52314b);
    margin: 0 auto;
    width: 100%;
    max-width:600px;
    min-width: 375px;
    padding: 0 16px;
    border-radius: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 10rem;
    box-shadow:
        0 0 20px rgba(0, 191, 255, 0.3),
        0 0 40px rgba(0, 191, 255, 0.2),
        inset 0 0 10px rgba(0, 191, 255, 0.15);

}

body{
    margin: 10px ;
    margin-right: 44px;
    font-family: sans-serif;
    color: white;

}

.infoPerso{
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0;
    li,h2,a{
        background: linear-gradient(90deg, #c7b7c9, #a885b0, #8f6a96);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
    }
}

.infoEntrep{
    display: flex;
    h2{
        background: linear-gradient(to bottom, #FF8C00, #FF4F81, #E100FF);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
    }
    li,a{
        background: linear-gradient(90deg, #c7b7c9, #a885b0, #8f6a96);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
    }

    
}

.infoEntrepC{
    text-decoration: none;
    list-style: none;
}


.imgPerso{
    width: 100px;
}

.imgEntrep{
    width: 110px;
}


.bar{
    margin-top: 1rem;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: linear-gradient(135deg, #1a1a1a, #81498d, #1a1a1a);
    border-radius: 15px;

}

header{
    display: flex;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
    align-items: center;
    margin-left: 25px;
    p,h1 {
        margin: 0;
    }
    p{
        background: linear-gradient(90deg, #c7b7c9, #a885b0, #8f6a96);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
    }
    h1{
        background: linear-gradient(to bottom, #FF8C00, #FF4F81, #E100FF);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
    }
}

.addressPerso{
    width: 400px;
}

@media (max-width: 600px){
    main{
        max-width: 300px;
    }
    body{
        margin: 10px;
        margin-right: 44px;
    }
    header{
        flex-direction: column;
        align-items: flex-start;
        column-gap: 0;
        row-gap: 10px;
        margin-left: 0;
    }
    .imgPerso{
        width: 72px;
    }
    img{
        max-width: 100%;
    }
}

.email{
    background: linear-gradient(135deg, #ff784e, #ff4f81);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
}

.phone{
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
}